<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Success</title>
</head>
<body>
        <div class="container">
                <div class="text-center position-absolute-bot auto-margin">
                        <img src="/binar-logo.png" alt="" srcset="">
                        <h3 class="color-white">SELAMAT DATA ANDA BERHASIL DI PROSES OLEH SISTEM KAMI</h3>
                        <br>
                        <h4><%= data %></h4>
                        <p class="color-white">SILAHKAN TEKAN TOMBOL LOGIN UNTUK KEMBALI KE MENU UTAMA</p>
                        <a class="btn btn-success"href="/">Login</a>    
                      </div>       
        </div>
</body>
</html>